# Permanents redirections (301)
Redirect 301 http://auto.roycon.pl/ https://roycon.pl/
Redirect 301 /aktualna-oferta/ https://roycon.pl/
Redirect 301 /pl/oferta/ https://roycon.pl/
Redirect 301 /realizacje-2/ https://roycon.pl/
Redirect 301 /ofirmie/ https://roycon.pl/

